[submodule "pinocchio"]
	path = pinocchio
	url = git+ssh://aur@aur.archlinux.org/pinocchio.git
[submodule "tabula"]
	path = tabula
	url = git+ssh://aur@aur.archlinux.org/tabula.git
[submodule "eigenpy"]
	path = eigenpy
	url = git+ssh://aur@aur.archlinux.org/eigenpy.git
[submodule "hpp-fcl"]
	path = hpp-fcl
	url = git+ssh://aur@aur.archlinux.org/hpp-fcl.git
[submodule "urdfdom"]
	path = urdfdom
	url = git+ssh://aur@aur.archlinux.org/urdfdom.git
[submodule "urdfdom-headers"]
	path = urdfdom-headers
	url = git+ssh://aur@aur.archlinux.org/urdfdom-headers.git
[submodule "console-bridge"]
	path = console-bridge
	url = git+ssh://aur@aur.archlinux.org/console-bridge.git
[submodule "hpp-constraints"]
	path = hpp-constraints
	url = git+ssh://aur@aur.archlinux.org/hpp-constraints.git
[submodule "urdf-git"]
	path = urdf-git
	url = git+ssh://aur@aur.archlinux.org/urdf-git.git
[submodule "hpp-corbaserver"]
	path = hpp-corbaserver
	url = git+ssh://aur@aur.archlinux.org/hpp-corbaserver.git
[submodule "xcursor-gruppled-lite"]
	path = xcursor-gruppled-lite
	url = git+ssh://aur@aur.archlinux.org/xcursor-gruppled-lite.git
[submodule "cppad"]
	path = cppad
	url = git+ssh://aur@aur.archlinux.org/cppad.git
[submodule "cppadcodegen"]
	path = cppadcodegen
	url = git+ssh://aur@aur.archlinux.org/cppadcodegen.git
[submodule "eiquadprog"]
	path = eiquadprog
	url = git+ssh://aur@aur.archlinux.org/eiquadprog.git
[submodule "example-robot-data"]
	path = example-robot-data
	url = git+ssh://aur@aur.archlinux.org/example-robot-data.git
[submodule "crocoddyl"]
	path = crocoddyl
	url = git+ssh://aur@aur.archlinux.org/crocoddyl.git
[submodule "tsid"]
	path = tsid
	url = git+ssh://aur@aur.archlinux.org/tsid.git
[submodule "pololu-jrk-g2-software"]
	path = pololu-jrk-g2-software
	url = git+ssh://aur@aur.archlinux.org/pololu-jrk-g2-software.git
[submodule "aarch64-linux-gnu-pkg-config"]
	path = aarch64-linux-gnu-pkg-config
	url = ssh://aur@aur.archlinux.org/aarch64-linux-gnu-pkg-config.git
[submodule "arm-linux-gnueabihf-musl"]
	path = arm-linux-gnueabihf-musl
	url = ssh://aur@aur.archlinux.org/arm-linux-gnueabihf-musl.git
[submodule "pycppad"]
	path = pycppad
	url = git+ssh://aur@aur.archlinux.org/pycppad.git
[submodule "coin-or-qpoases"]
	path = coin-or-qpoases
	url = ssh://aur@aur.archlinux.org/coin-or-qpoases.git
[submodule "ndcurves"]
	path = ndcurves
	url = git+ssh://aur@aur.archlinux.org/ndcurves.git
[submodule "proxsuite"]
	path = proxsuite
	url = git+ssh://aur@aur.archlinux.org/proxsuite.git
[submodule "vulkanscenegraph"]
	path = vulkanscenegraph
	url = git+ssh://aur@aur.archlinux.org/vulkanscenegraph.git
[submodule "vsgxchange"]
	path = vsgxchange
	url = git+ssh://aur@aur.archlinux.org/vsgxchange.git
[submodule "yofi"]
	path = yofi
	url = git+ssh://aur@aur.archlinux.org/yofi.git
[submodule "aligator"]
	path = aligator
	url = git+ssh://aur@aur.archlinux.org/aligator.git
[submodule "proxsuite-nlp"]
	path = proxsuite-nlp
	url = git+ssh://aur@aur.archlinux.org/proxsuite-nlp.git
[submodule "aur-omniorbpy"]
	path = aur-omniorbpy
	url = gh:nim65s/aur-omniorbpy
[submodule "libavresample"]
	path = libavresample
	url = git+ssh://aur@aur.archlinux.org/libavresample
[submodule "octomap"]
	path = octomap
	url = git@github.com:nim65s/aur-octomap
[submodule "pcl"]
	path = pcl
	url = git+ssh://aur@aur.archlinux.org/pcl
[submodule "omniorb"]
	path = omniorb
	url = git+ssh://aur@aur.archlinux.org/omniorb
[submodule "coin-or-ipopt"]
	path = coin-or-ipopt
	url = git+ssh://aur@aur.archlinux.org/coin-or-ipopt
[submodule "coin-or-coinmumps"]
	path = coin-or-coinmumps
	url = git+ssh://aur@aur.archlinux.org/coin-or-coinmumps
[submodule "metis"]
	path = metis
	url = git+ssh://aur@aur.archlinux.org/metis
[submodule "gklib"]
	path = gklib
	url = git+ssh://aur@aur.archlinux.org/gklib
[submodule "casadi"]
	path = casadi
	url = git+ssh://aur@aur.archlinux.org/casadi
[submodule "coal"]
	path = coal
	url = git+ssh://aur@aur.archlinux.org/coal.git
[submodule "paru-bin"]
	path = paru-bin
	url = git+ssh://aur@aur.archlinux.org/paru-bin.git
[submodule "jrl-cmakemodules"]
	path = jrl-cmakemodules
	url = git+ssh://aur@aur.archlinux.org/jrl-cmakemodules.git
