[submodule "pinocchio"]
	path = pinocchio
	url = git+ssh://aur@aur.archlinux.org/pinocchio.git
[submodule "pinocchio-git"]
	path = pinocchio-git
	url = git+ssh://aur@aur.archlinux.org/pinocchio-git.git
[submodule "tabula"]
	path = tabula
	url = git+ssh://aur@aur.archlinux.org/tabula.git
[submodule "eigen32"]
	path = eigen32
	url = git+ssh://aur@aur.archlinux.org/eigen32.git
[submodule "eigenpy"]
	path = eigenpy
	url = git+ssh://aur@aur.archlinux.org/eigenpy.git
[submodule "hpp-fcl"]
	path = hpp-fcl
	url = git+ssh://aur@aur.archlinux.org/hpp-fcl.git
[submodule "hpp-util-git"]
	path = hpp-util-git
	url = git+ssh://aur@aur.archlinux.org/hpp-util-git.git
[submodule "hpp-statistics-git"]
	path = hpp-statistics-git
	url = git+ssh://aur@aur.archlinux.org/hpp-statistics-git.git
[submodule "hpp-model"]
	path = hpp-model
	url = git+ssh://aur@aur.archlinux.org/hpp-model.git
[submodule "hpp-model-urdf"]
	path = hpp-model-urdf
	url = git+ssh://aur@aur.archlinux.org/hpp-model-urdf.git
[submodule "hpp-pinocchio-git"]
	path = hpp-pinocchio-git
	url = git+ssh://aur@aur.archlinux.org/hpp-pinocchio-git.git
[submodule "urdfdom"]
	path = urdfdom
	url = git+ssh://aur@aur.archlinux.org/urdfdom.git
[submodule "urdfdom-headers"]
	path = urdfdom-headers
	url = git+ssh://aur@aur.archlinux.org/urdfdom-headers.git
[submodule "console-bridge"]
	path = console-bridge
	url = git+ssh://aur@aur.archlinux.org/console-bridge.git
[submodule "hpp-constraints"]
	path = hpp-constraints
	url = git+ssh://aur@aur.archlinux.org/hpp-constraints.git
[submodule "srdfdom-git"]
	path = srdfdom-git
	url = git+ssh://aur@aur.archlinux.org/srdfdom-git.git
[submodule "resource-retriever"]
	path = resource-retriever
	url = git+ssh://aur@aur.archlinux.org/resource-retriever.git
[submodule "urdf-git"]
	path = urdf-git
	url = git+ssh://aur@aur.archlinux.org/urdf-git.git
[submodule "gepetto-viewer-git"]
	path = gepetto-viewer-git
	url = git+ssh://aur@aur.archlinux.org/gepetto-viewer-git.git
[submodule "gepetto-viewer-corba-git"]
	path = gepetto-viewer-corba-git
	url = git+ssh://aur@aur.archlinux.org/gepetto-viewer-corba-git.git
[submodule "hpp-model-urdf-git"]
	path = hpp-model-urdf-git
	url = git+ssh://aur@aur.archlinux.org/hpp-model-urdf-git.git
[submodule "hpp-model-git"]
	path = hpp-model-git
	url = git+ssh://aur@aur.archlinux.org/hpp-model-git.git
